*{
    margin: 10px;
    padding: 0;
}
.contact{
    text-align: center;
}
.container{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.left{
    text-align: left;
    float: left;
    width: 50%;
}
button{
    border: 2px solid blue;
    background-color: blue;
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 3px;
}
.right{
    width: 40%;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.flex{
    display: flex;
}
